<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="expertime_import_tab" translate="label" sortOrder="600" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Expertime</label>
        </tab>
        <section id="expertime_import" translate="label" sortOrder="600" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Import</label>
            <tab>expertime_import_tab</tab>
            <resource>Expertime_Import::configuration</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General settings</label>
                <field id="use_https" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="1" canRestore="1">
                    <label>Use HTTPS to Get Feed</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="end_point" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>End point</label>
                </field>        
                <field id="timeout" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Timeout</label>
                </field>                         
            </group>
        </section>
    </system>
</config>
